{% extends "_layouts/base-layout.twig" %}

{% block body %}



  <section class="w-full">
    <div class="relative overflow-hidden">
      <h2 class="relative text-xxl font-bold -left-10vw leading-none text-gray-900 ">Work</h2>
    </div>
  </section>

  <section class="w-full relative">
    <img class="w-full h-auto" src="/uploads/work-fpo1.jpg"/>
    <div class="w-full absolute left-0 bottom-0">
      <div class="w-full flex flex-row max-w-screen-xl mx-auto text-white pb-11">
        <div class="w-1/6"></div>
        <div class="w-4/6">
          <h1 class="text-6xl font-bold leading-tight">Is it really work if you</h1>
          <h2 class="text-5xl font-bold leading-tight">have stupid fun doing  it?</h2>

        </div>
      </div>
    </div>
  </section>

  <section class="bg-black w-full">
    <div class="flex flex-row w-full pt-11 pb-15 max-w-screen-xl mx-auto">
      <div class="w-1/6"></div>
      <div class="w-full lg:w-4/6 text-white text-2xl">
        <p class="mb-8"><span class="text-orange-900 leading-relaxed ">View our</span> workityworkwory <span class="text-orange-900">by &mdash;</span></p>
        <div class="flex flex-row -mx-8">
          <div class="px-8">
            <div class="relative">
              <select class="block appearance-none w-full bg-white border border-white text-gray-900 py-4 px-10 pl-14 rounded-full  leading-tight text-base font-medium focus:outline-none focus:bg-white focus:border-white" id="grid-state">
                <option>Most Recent</option>
                <option>Option b</option>
                <option>Option c</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 left-0 ml-8 flex items-center  text-orange-900">
                <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="px-8">
            <div class="relative">
              <select class="block appearance-none w-full bg-white border border-white text-gray-900 py-4 px-10 pl-14 rounded-full  leading-tight text-base font-medium focus:outline-none focus:bg-white focus:border-white" id="grid-state">
                <option>Client/Project</option>
                <option>Option b</option>
                <option>Option c</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 left-0 ml-8 flex items-center  text-orange-900">
                <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="px-8">
            <div class="relative">
              <select class="block appearance-none w-full bg-white border border-white text-gray-900 py-4 px-10 pl-14 rounded-full  leading-tight text-base font-medium focus:outline-none focus:bg-white focus:border-white" id="grid-state">
                <option>Service Type</option>
                <option>Option b</option>
                <option>Option c</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 left-0 ml-8 flex items-center  text-orange-900">
                <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="w-full">
    <div class="w-full">
      <div class="relative w-full ">
       <img src="/uploads/home-work3-fpo.jpg" class="w-full h-full"/>
       <div class="w-full h-full absolute left-0 top-0  ">
        <div class="text-white text-center p-4 pt-14 ">
            <h3 class="font-medium text-3xl tracking-tight">Timber Tech</h3>
            <p class="font-book">Donec molestie justo et lacus interdum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w-full flex flex-row flex-wrap px-4 py-8">
    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work1-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">A cowboy, a farmer and a rancher <span class="underline">don't</span> walk into a bar.</h3>
            <p>Because they were busy WORKING.</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>View Ariat Brand Campaign</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work2-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">Taking Navy Pier into very DEEP water.</h3>
            <p>Lorem ispum dolem.</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>Dive into the Pier Brand Campaign</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work4-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">Lorem ipsum dolor sit amet.</h3>
            <p>Consectetur adipiscing elit.</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>View the campaign</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work5-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">Unboxing Out-of-the-Box Thinking.</h3>
            <p>Shaking brand foundation</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>Read the Success Story</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="w-full ">
    <div class="w-full">
      <div class="relative w-full ">
       <img src="/uploads/home-koop-fpo.jpg" class="w-full h-full"/>
       <div class="w-full h-full absolute left-0 top-0  ">
        <div class="text-white text-center p-4 pt-14 ">
            <h3 class="font-medium text-3xl tracking-tight">Kooped Up?</h3>
            <p class="font-book">See how we helped make the quarantine less sucky.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w-full flex flex-row flex-wrap px-4 py-8">
    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work1-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">A cowboy, a farmer and a rancher <span class="underline">don't</span> walk into a bar.</h3>
            <p>Because they were busy WORKING.</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>View Ariat Brand Campaign</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work2-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">Taking Navy Pier into very DEEP water.</h3>
            <p>Lorem ispum dolem.</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>Dive into the Pier Brand Campaign</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work4-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">Lorem ipsum dolor sit amet.</h3>
            <p>Consectetur adipiscing elit.</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>View the campaign</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
      <div class="relative w-full shadow-none group-hover:shadow-2xl  ">
       <img src="/uploads/home-work5-fpo.jpg" class="w-full h-full"/>
        <div class="w-full h-full absolute left-0 top-0 flex justify-end ">
          <div class="w-1/2 h-full text-white text-right p-4">
            <h3 class="font-medium text-3xl tracking-tight">Unboxing Out-of-the-Box Thinking.</h3>
            <p>Shaking brand foundation</p>
            <a href="#" class="mt-4 inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2">
              <span>Read the Success Story</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w-full py-25">
    <div class="text-center">
      <a href="#" class="inline-flex items-center bg-white text-black font-medium text-base rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2 border-2 border-black transition-all duration-300">
        <span>BUT WAIT - There's So Much More</span>
      </a>
    </div>
  </section>




{% endblock %}