{% extends "_layouts/base-layout.twig" %}

{% block body %}

<section class="w-full">
  <div class="relative overflow-hidden">
    <h2 class="relative text-8xl font-bold -ml-5 text-gray-900 "><span class="text-gray-500">Think</span> <span
        class="text-orange-900">/</span> Brand Strategy</h2>
  </div>
</section>

<section class="bg-gray-900 w-full mb-8">
  <div class="w-full py-12 px-16 max-w-screen-xl mx-auto">
    <div class="w-full text-white text-2xl pr-8 ">
      <p><span class="text-orange-900 leading-relaxed">Brand positioning is the critical element&mdash;</span> in
        shaping all that you say and do to build a brand. When your brand positioning strategy is clear and effectively
        communicated, internal stakeholders feel more energized and inspired, customers seek you out for the right
        reasons, and you create practical and emotional ties with key audiences. Strong brand positioning strategy also
        provides the foundation for effective company and product names, engaging audience messages, and powerful brand
        identities. All of this is clearly enticing, but how do companies actually take their branding positioning from
        point A to point B?</p>
    </div>
  </div>
</section>

<section class=" w-full">
  <div class="w-full py-4 px-16 max-w-screen-xl mx-auto">
    <div class="w-full text-xl ">
      <h2 class="font-bold text-5xl tracking-tight">What is Brand Positioning Strategy?</h2>
      <p class="mb-6">Authors Jack Trout and Al Ries first developed and introduced the concept of brand positioning
        in the early
        1970s. In fact, their highly celebrated book, Positioning: The Battle for your Mind, has been re-released in
        multiple
        editions over the years. Spurred by this new way of thinking about brands, companies began to develop more
        sophisticated and effective brand positioning strategies than ever before. To understand how this was
        accomplished, let’s first define what a brand positioning strategy is all about.</p>

      <p class="mb-6">In its simplest terms, a brand positioning strategy refers to the steps you take to make your
        brand promise
        clear,
        differentiated, and meaningful. An effective strategy should clearly and compellingly articulate who you are,
        what
        you do, and why you matter while providing a roadmap to make your brand position ownable, believable,
        beneficial,
        and sustainable. Once in place, a strong brand position increases internal morale, provides a platform for
        external marketing and communications, and guides all that a company says and does.</p>

      <p class="mb-6">

        By helping companies articulate their strengths and weaknesses vis-à-vis the competition, a good brand
        positioning
        strategy enables them to claim an advantageous position in the minds of customers and prospects. The easiest way
        to accomplish this is to tie your positioning to an idea that already exists in the minds of your target
        audiences, taking what they know to be true in the world and turning that truth to your advantage. For example,
        Volvo became a major global automotive brand by branding themselves as the leaders in safety, a concept that
        consumers care about. Similarly, rather than downplaying it, Avis celebrated their #2 ranking in the marketplace
        as a badge of honor because it meant "we try harder."</p>

    </div>
  </div>
</section>

<section class=" w-full">
  <div class="w-full py-4 px-16 max-w-screen-xl mx-auto">
    <div class="w-full text-xl ">
      <h2 class="font-bold text-5xl tracking-tight">7 Elements of a Successful Brand Positioning Strategy</h2>
      <p class="mb-6">As alluded to above, a successful brand positioning strategy needs to convey several key elements.
        Here’s a
        quick breakdown of each to help you better understand their significance: </p>
      <p class="mb-6"><strong>Who You Are:</strong> Just as a name and personality set people apart from their peers,
        your
        organization needs to identify the essential qualities shared by internal players that sets you apart from the
        competition.</p>
      <p class="mb-6"><strong>What You Do:</strong> Brand positioning should address far more than the products or
        services you sell;
        it should articulate the promise you make to your employees, investors, customers, and partners. It is an
        aspirational promise that you need to collectively live up to, year in and year out.</p>
      <p class="mb-6"><strong>Why You Matter:</strong> Most importantly, companies forge emotional connections with
        audiences by
        communicating why their brand matters. Think of it this way: what would be missing in the world if you weren’t
        there to provide it? How do you make a meaningful difference in people’s lives? </p>
      <p class="mb-6">A smart brand positioning strategy should also help build a brand that is: </p>
      <p class="mb-6"><strong>Ownable:</strong> Your brand positioning must be true for you and no one else. If you can
        own an idea –
        or better yet, a word – your leadership becomes clear and defensible. Some of the most successful brands in the
        world have achieved greatness through their singular and passionate focus on an ownable promise.</p>
      <p class="mb-6"><strong>Believable:</strong> While good positioning strategy is always aspirational, it is still
        based in
        reality and makes a promise that can be truly fulfilled. Anyone who thinks branding is just hype has likely been
        disappointed by a misleading or over-promoted promise. Only promise something that you’re able to deliver!</p>
      <p class="mb-6"><strong>Beneficial:</strong> Too many brand positioning strategies focus solely on products and
        features while
        neglecting to identify their associated benefits. The best brands provide something beneficial to key audiences,
        inspiring them to take part in the brand story.</p>
      <p class="mb-6"><strong>Sustainable:</strong> Good brand positioning strategy creates a lasting story that should
        evolve, but
        not change, as companies grow and prosper. While brand campaigns may be specific and changeable over time, the
        positioning strategy that informs them should be steady. Sustainability is what makes a single, ownable story
        last for years regardless of an organization’s size.</p>
    </div>
  </div>
</section>


<section class="w-full pt-25 pb-37">
  <div class="text-center">
    <a href="#"
      class="inline-flex items-center bg-white text-black font-medium text-base rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2 border-2 border-black transition-all duration-300">
      <span>BUT WAIT - There's So Much More</span>
    </a>
  </div>
</section>

<section class="w-full">
  <div class="w-full max-w-screen-xl mx-auto px-16">
    <h2 class="text-gray-500 text-8xl tracking-tight leading-snug font-bold">Related Articles</h2>
  </div>
  <div class="w-full max-w-screen-xl mx-auto px-8">
    <div class="flex flex-row flex-wrap px-4 pb-8 w-full max-w-screen-xl mx-auto">

      <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
        <div
          class="relative w-full shadow-none group-hover:shadow-2xl aspect-ratio-4/3 group group-hover:bg-gray-200 transition-all duration-300  ">
          <div class="absolute w-full h-full">
            <div class="transition-all duration-300 max-h-56 group-hover:max-h-0 overflow-hidden">
              <img src="/uploads/think-article-fpo1.jpg" class="w-full h-auto" /> {# 532 x 200 #}
            </div>
            <div class="w-full relative left-0 top-0 bottom-0 p-8 relative">
              <div class="relative w-full">
                <h3 class="font-medium text-3xl tracking-tight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </h3>
                <p class="absolute text-lg opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                  Nunc vehicula et metus ut pulvinar. Vivamus accumsan turpis sit amet sem.</p>
              </div>
            </div>
            <div class="absolute left-0 bottom-0 w-full flex flex-row justify-between items-center p-8">
              <div>
                <p class="m-0 text-orange-900 text-lg">Brand Strategy</p>

              </div>
              <div>
                <a href="#"
                  class="inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2 border-2 border-black">
                  <span>View the article</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-1/2 px-4 py-8 group transform  hover:scale-102 transition-all duration-300 ease-in-out">
        <div
          class="relative w-full shadow-none group-hover:shadow-2xl aspect-ratio-4/3 group group-hover:bg-gray-200 transition-all duration-300  ">
          <div class="absolute w-full h-full">
            <div class="transition-all duration-300 max-h-56 group-hover:max-h-0 overflow-hidden">
              <img src="/uploads/think-article-fpo2.jpg" class="w-full h-auto" /> {# 532 x 200 #}
            </div>
            <div class="w-full relative left-0 top-0 bottom-0 p-8 relative">
              <div class="relative w-full">
                <h3 class="font-medium text-3xl tracking-tight">Consectetur adipiscing elit. </h3>
                <p class="absolute text-lg opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                  Nunc vehicula et metus ut pulvinar. Vivamus accumsan turpis sit amet sem.</p>
              </div>
            </div>
            <div class="absolute left-0 bottom-0 w-full flex flex-row justify-between items-center p-8">
              <div>
                <p class="m-0 text-orange-900 text-lg">Team Strategy</p>

              </div>
              <div>
                <a href="#"
                  class="inline-flex items-center bg-white text-black font-medium text-xs rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2 border-2 border-black">
                  <span>View the article</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>

<section class="w-full pb-15">
  <div class="text-center">
    <a href="#"
      class="inline-flex items-center bg-white text-black font-medium text-base rounded-full hover:bg-black hover:text-white group-hover:bg-black group-hover:text-white px-6 py-2 border-2 border-black transition-all duration-300">
      <span>Think Again</span>
    </a>
  </div>
</section>

{% endblock %}